body {
  background-color: #00a4ee;
  color: white;
  margin: 0 auto;
  width: 500px;
}

button {
  padding: 5px 20px;
  background-color: darkblue;
  color: white;
  border-style: none;
  opacity: 1;
  position: relative;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

input {
  height: 24px;
}
